USE [master]
GO
/****** Object:  Database [StudentClubManagement]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE DATABASE [StudentClubManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentClubManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StudentClubManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentClubManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StudentClubManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentClubManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentClubManagement]
GO
/****** Object:  Table [dbo].[CLUBS]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLUBS](
	[club_id] [bigint] IDENTITY(1,1) NOT NULL,
	[club_code] [nvarchar](30) NOT NULL,
	[club_name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[founded_date] [date] NULL,
	[club_status] [varchar](20) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_CLUBS] PRIMARY KEY CLUSTERED 
(
	[club_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINANCIAL_TRANSACTIONS]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAL_TRANSACTIONS](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[club_id] [bigint] NOT NULL,
	[event_id] [bigint] NULL,
	[category_id] [bigint] NOT NULL,
	[related_member_id] [bigint] NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[transaction_date] [date] NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[evidence_url] [nvarchar](500) NULL,
	[transaction_status] [varchar](30) NOT NULL,
	[created_by] [bigint] NOT NULL,
	[approved_by] [bigint] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[approved_at] [datetime2](0) NULL,
	[rejection_reason] [nvarchar](500) NULL,
 CONSTRAINT [PK_FINANCIAL_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_club_fund_summary]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   15. VIEW: TỔNG HỢP QUỸ CLB
   Chỉ tính giao dịch POSTED.
   ========================================================= */
CREATE   VIEW [dbo].[vw_club_fund_summary]
AS
SELECT
    c.club_id,
    c.club_code,
    c.club_name,
    CAST(SUM(CASE
        WHEN ft.transaction_status = 'POSTED'
         AND ft.transaction_type = 'INCOME'
        THEN ft.amount ELSE 0 END) AS DECIMAL(18,2)) AS total_income,
    CAST(SUM(CASE
        WHEN ft.transaction_status = 'POSTED'
         AND ft.transaction_type = 'EXPENSE'
        THEN ft.amount ELSE 0 END) AS DECIMAL(18,2)) AS total_expense,
    CAST(
        SUM(CASE
            WHEN ft.transaction_status = 'POSTED'
             AND ft.transaction_type = 'INCOME'
            THEN ft.amount ELSE 0 END)
        -
        SUM(CASE
            WHEN ft.transaction_status = 'POSTED'
             AND ft.transaction_type = 'EXPENSE'
            THEN ft.amount ELSE 0 END)
        AS DECIMAL(18,2)
    ) AS balance
FROM dbo.CLUBS c
LEFT JOIN dbo.FINANCIAL_TRANSACTIONS ft
    ON ft.club_id = c.club_id
GROUP BY
    c.club_id,
    c.club_code,
    c.club_name;
GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTS](
	[event_id] [bigint] IDENTITY(1,1) NOT NULL,
	[club_id] [bigint] NOT NULL,
	[created_by] [bigint] NOT NULL,
	[event_name] [nvarchar](200) NOT NULL,
	[event_type] [nvarchar](100) NOT NULL,
	[location] [nvarchar](255) NOT NULL,
	[start_at] [datetime2](0) NOT NULL,
	[end_at] [datetime2](0) NOT NULL,
	[registration_deadline] [datetime2](0) NOT NULL,
	[capacity] [int] NULL,
	[approval_required] [bit] NOT NULL,
	[event_status] [varchar](20) NOT NULL,
	[attendance_locked] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [PK_EVENTS] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENT_REGISTRATIONS]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_REGISTRATIONS](
	[registration_id] [bigint] IDENTITY(1,1) NOT NULL,
	[event_id] [bigint] NOT NULL,
	[club_member_id] [bigint] NOT NULL,
	[registration_status] [varchar](20) NOT NULL,
	[registered_at] [datetime2](0) NOT NULL,
	[reviewed_by] [bigint] NULL,
	[reviewed_at] [datetime2](0) NULL,
	[cancelled_at] [datetime2](0) NULL,
 CONSTRAINT [PK_EVENT_REGISTRATIONS] PRIMARY KEY CLUSTERED 
(
	[registration_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[attendance_id] [bigint] IDENTITY(1,1) NOT NULL,
	[event_id] [bigint] NOT NULL,
	[club_member_id] [bigint] NOT NULL,
	[registration_id] [bigint] NULL,
	[attendance_status] [varchar](20) NOT NULL,
	[check_in_at] [datetime2](0) NULL,
	[recorded_by] [bigint] NOT NULL,
	[recorded_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ATTENDANCE] PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_event_statistics]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   16. VIEW: THỐNG KÊ SỰ KIỆN
   PRESENT + LATE được xem là thực tế tham dự.
   ========================================================= */
CREATE   VIEW [dbo].[vw_event_statistics]
AS
WITH RegAgg AS
(
    SELECT
        event_id,
        COUNT(*) AS total_registrations,
        SUM(CASE WHEN registration_status = 'PENDING'   THEN 1 ELSE 0 END) AS pending_count,
        SUM(CASE WHEN registration_status = 'CONFIRMED' THEN 1 ELSE 0 END) AS confirmed_count,
        SUM(CASE WHEN registration_status = 'REJECTED'  THEN 1 ELSE 0 END) AS rejected_count,
        SUM(CASE WHEN registration_status = 'CANCELLED' THEN 1 ELSE 0 END) AS cancelled_count
    FROM dbo.EVENT_REGISTRATIONS
    GROUP BY event_id
),
AttAgg AS
(
    SELECT
        event_id,
        COUNT(*) AS attendance_record_count,
        SUM(CASE WHEN attendance_status IN ('PRESENT', 'LATE') THEN 1 ELSE 0 END) AS attended_count,
        SUM(CASE WHEN attendance_status = 'ABSENT' THEN 1 ELSE 0 END) AS absent_count,
        SUM(CASE WHEN attendance_status = 'EXCUSED' THEN 1 ELSE 0 END) AS excused_count
    FROM dbo.ATTENDANCE
    GROUP BY event_id
)
SELECT
    e.event_id,
    e.club_id,
    e.event_name,
    e.start_at,
    e.end_at,
    e.event_status,
    e.capacity,
    ISNULL(r.total_registrations, 0) AS total_registrations,
    ISNULL(r.pending_count, 0) AS pending_count,
    ISNULL(r.confirmed_count, 0) AS confirmed_count,
    ISNULL(r.rejected_count, 0) AS rejected_count,
    ISNULL(r.cancelled_count, 0) AS cancelled_count,
    ISNULL(a.attendance_record_count, 0) AS attendance_record_count,
    ISNULL(a.attended_count, 0) AS attended_count,
    ISNULL(a.absent_count, 0) AS absent_count,
    ISNULL(a.excused_count, 0) AS excused_count,
    CAST(
        CASE
            WHEN ISNULL(r.confirmed_count, 0) = 0 THEN 0
            ELSE ISNULL(a.attended_count, 0) * 100.0 / r.confirmed_count
        END
        AS DECIMAL(6,2)
    ) AS attendance_rate_percent
FROM dbo.EVENTS e
LEFT JOIN RegAgg r ON r.event_id = e.event_id
LEFT JOIN AttAgg a ON a.event_id = e.event_id;
GO
/****** Object:  Table [dbo].[AUDIT_LOGS]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDIT_LOGS](
	[audit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[club_id] [bigint] NULL,
	[action_code] [nvarchar](80) NOT NULL,
	[entity_name] [nvarchar](80) NOT NULL,
	[entity_id] [nvarchar](80) NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_AUDIT_LOGS] PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLUB_MEMBERS]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLUB_MEMBERS](
	[club_member_id] [bigint] IDENTITY(1,1) NOT NULL,
	[club_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[member_code] [nvarchar](30) NOT NULL,
	[join_date] [date] NOT NULL,
	[leave_date] [date] NULL,
	[member_status] [varchar](20) NOT NULL,
	[department_name] [nvarchar](120) NULL,
	[position_name] [nvarchar](120) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [PK_CLUB_MEMBERS] PRIMARY KEY CLUSTERED 
(
	[club_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINANCE_CATEGORIES]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCE_CATEGORIES](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[club_id] [bigint] NOT NULL,
	[category_type] [varchar](20) NOT NULL,
	[category_name] [nvarchar](150) NOT NULL,
	[active_flag] [bit] NOT NULL,
 CONSTRAINT [PK_FINANCE_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBER_STATUS_HISTORY]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER_STATUS_HISTORY](
	[history_id] [bigint] IDENTITY(1,1) NOT NULL,
	[club_member_id] [bigint] NOT NULL,
	[old_status] [varchar](20) NULL,
	[new_status] [varchar](20) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[changed_by] [bigint] NOT NULL,
	[changed_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_MEMBER_STATUS_HISTORY] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[role_id] [smallint] IDENTITY(1,1) NOT NULL,
	[role_code] [varchar](30) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLES]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLES](
	[user_role_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[role_id] [smallint] NOT NULL,
	[club_id] [bigint] NULL,
	[assigned_by] [bigint] NULL,
	[assigned_at] [datetime2](0) NOT NULL,
	[active_flag] [bit] NOT NULL,
 CONSTRAINT [PK_USER_ROLES] PRIMARY KEY CLUSTERED 
(
	[user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 9/7/2026 11:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[student_code] [nvarchar](30) NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[faculty] [nvarchar](150) NULL,
	[class_name] [nvarchar](100) NULL,
	[account_status] [varchar](20) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] ON 

INSERT [dbo].[ATTENDANCE] ([attendance_id], [event_id], [club_member_id], [registration_id], [attendance_status], [check_in_at], [recorded_by], [recorded_at]) VALUES (1, 1, 4, 1, N'PRESENT', CAST(N'2026-07-12T07:55:00.0000000' AS DateTime2), 3, CAST(N'2026-07-12T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[ATTENDANCE] ([attendance_id], [event_id], [club_member_id], [registration_id], [attendance_status], [check_in_at], [recorded_by], [recorded_at]) VALUES (2, 1, 5, 2, N'LATE', CAST(N'2026-07-12T08:20:00.0000000' AS DateTime2), 3, CAST(N'2026-07-12T08:20:00.0000000' AS DateTime2))
INSERT [dbo].[ATTENDANCE] ([attendance_id], [event_id], [club_member_id], [registration_id], [attendance_status], [check_in_at], [recorded_by], [recorded_at]) VALUES (3, 1, 6, 3, N'ABSENT', NULL, 3, CAST(N'2026-07-12T11:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ATTENDANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[AUDIT_LOGS] ON 

INSERT [dbo].[AUDIT_LOGS] ([audit_id], [user_id], [club_id], [action_code], [entity_name], [entity_id], [old_value], [new_value], [created_at]) VALUES (1, 1, 1, N'ASSIGN_ROLE', N'USER_ROLES', N'2', NULL, N'{"role":"LEADER","active":true}', CAST(N'2026-06-01T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[AUDIT_LOGS] ([audit_id], [user_id], [club_id], [action_code], [entity_name], [entity_id], [old_value], [new_value], [created_at]) VALUES (2, 3, 1, N'CHANGE_MEMBER_STATUS', N'CLUB_MEMBERS', N'8', N'{"member_status":"ACTIVE"}', N'{"member_status":"PAUSED"}', CAST(N'2026-07-01T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[AUDIT_LOGS] ([audit_id], [user_id], [club_id], [action_code], [entity_name], [entity_id], [old_value], [new_value], [created_at]) VALUES (3, 2, 1, N'CHANGE_MEMBER_STATUS', N'CLUB_MEMBERS', N'9', N'{"member_status":"ACTIVE"}', N'{"member_status":"LEFT"}', CAST(N'2026-07-31T16:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AUDIT_LOGS] OFF
GO
SET IDENTITY_INSERT [dbo].[CLUB_MEMBERS] ON 

INSERT [dbo].[CLUB_MEMBERS] ([club_member_id], [club_id], [user_id], [member_code], [join_date], [leave_date], [member_status], [department_name], [position_name], [created_at], [updated_at]) VALUES (1, 1, 2, N'CNTT001', CAST(N'2023-09-01' AS Date), NULL, N'ACTIVE', N'Ban chủ nhiệm', N'Chủ nhiệm', CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
INSERT [dbo].[CLUB_MEMBERS] ([club_member_id], [club_id], [user_id], [member_code], [join_date], [leave_date], [member_status], [department_name], [position_name], [created_at], [updated_at]) VALUES (2, 1, 3, N'CNTT002', CAST(N'2023-09-01' AS Date), NULL, N'ACTIVE', N'Ban Sự kiện', N'Trưởng ban', CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
INSERT [dbo].[CLUB_MEMBERS] ([club_member_id], [club_id], [user_id], [member_code], [join_date], [leave_date], [member_status], [department_name], [position_name], [created_at], [updated_at]) VALUES (3, 1, 4, N'CNTT003', CAST(N'2023-09-01' AS Date), NULL, N'ACTIVE', N'Ban Tài chính', N'Thủ quỹ', CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CLUB_MEMBERS] OFF
GO
SET IDENTITY_INSERT [dbo].[CLUBS] ON 

INSERT [dbo].[CLUBS] ([club_id], [club_code], [club_name], [description], [founded_date], [club_status], [created_at]) VALUES (1, N'CLB_CNTT', N'CLB Công nghệ Thông tin', N'Câu lạc bộ học thuật, kỹ năng và công nghệ dành cho sinh viên.', CAST(N'2022-09-01' AS Date), N'ACTIVE', CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2))
INSERT [dbo].[CLUBS] ([club_id], [club_code], [club_name], [description], [founded_date], [club_status], [created_at]) VALUES (2, N'CLB_TA', N'CLB Tiếng Anh', N'Câu lạc bộ luyện giao tiếp, học thuật và tổ chức hoạt động tiếng Anh.', CAST(N'2021-10-15' AS Date), N'ACTIVE', CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CLUBS] OFF
GO
SET IDENTITY_INSERT [dbo].[EVENT_REGISTRATIONS] ON 

INSERT [dbo].[EVENT_REGISTRATIONS] ([registration_id], [event_id], [club_member_id], [registration_status], [registered_at], [reviewed_by], [reviewed_at], [cancelled_at]) VALUES (1, 1, 4, N'CONFIRMED', CAST(N'2026-07-05T10:10:00.0000000' AS DateTime2), 3, CAST(N'2026-07-05T10:10:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[EVENT_REGISTRATIONS] ([registration_id], [event_id], [club_member_id], [registration_status], [registered_at], [reviewed_by], [reviewed_at], [cancelled_at]) VALUES (2, 1, 5, N'CONFIRMED', CAST(N'2026-07-05T10:20:00.0000000' AS DateTime2), 3, CAST(N'2026-07-05T10:20:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[EVENT_REGISTRATIONS] ([registration_id], [event_id], [club_member_id], [registration_status], [registered_at], [reviewed_by], [reviewed_at], [cancelled_at]) VALUES (3, 1, 6, N'CONFIRMED', CAST(N'2026-07-06T08:15:00.0000000' AS DateTime2), 3, CAST(N'2026-07-06T08:15:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[EVENT_REGISTRATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[EVENTS] ON 

INSERT [dbo].[EVENTS] ([event_id], [club_id], [created_by], [event_name], [event_type], [location], [start_at], [end_at], [registration_deadline], [capacity], [approval_required], [event_status], [attendance_locked], [created_at], [updated_at]) VALUES (1, 1, 3, N'Workshop Git & GitHub', N'WORKSHOP', N'Phòng A301', CAST(N'2026-07-12T08:00:00.0000000' AS DateTime2), CAST(N'2026-07-12T11:30:00.0000000' AS DateTime2), CAST(N'2026-07-10T23:59:00.0000000' AS DateTime2), 40, 0, N'COMPLETED', 1, CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
INSERT [dbo].[EVENTS] ([event_id], [club_id], [created_by], [event_name], [event_type], [location], [start_at], [end_at], [registration_deadline], [capacity], [approval_required], [event_status], [attendance_locked], [created_at], [updated_at]) VALUES (2, 1, 3, N'Sinh hoạt CLB tháng 8', N'MEETING', N'Hội trường B', CAST(N'2026-08-10T18:00:00.0000000' AS DateTime2), CAST(N'2026-08-10T20:00:00.0000000' AS DateTime2), CAST(N'2026-08-09T20:00:00.0000000' AS DateTime2), 80, 0, N'COMPLETED', 1, CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
INSERT [dbo].[EVENTS] ([event_id], [club_id], [created_by], [event_name], [event_type], [location], [start_at], [end_at], [registration_deadline], [capacity], [approval_required], [event_status], [attendance_locked], [created_at], [updated_at]) VALUES (3, 1, 3, N'Cuộc thi Lập trình mini 2026', N'COMPETITION', N'Phòng máy C202', CAST(N'2026-09-05T08:00:00.0000000' AS DateTime2), CAST(N'2026-09-05T16:30:00.0000000' AS DateTime2), CAST(N'2026-09-01T23:59:00.0000000' AS DateTime2), 30, 1, N'OPEN', 0, CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[EVENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[FINANCE_CATEGORIES] ON 

INSERT [dbo].[FINANCE_CATEGORIES] ([category_id], [club_id], [category_type], [category_name], [active_flag]) VALUES (1, 1, N'INCOME', N'Hội phí', 1)
INSERT [dbo].[FINANCE_CATEGORIES] ([category_id], [club_id], [category_type], [category_name], [active_flag]) VALUES (2, 1, N'INCOME', N'Tài trợ', 1)
INSERT [dbo].[FINANCE_CATEGORIES] ([category_id], [club_id], [category_type], [category_name], [active_flag]) VALUES (3, 1, N'EXPENSE', N'Tổ chức sự kiện', 1)
SET IDENTITY_INSERT [dbo].[FINANCE_CATEGORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[FINANCIAL_TRANSACTIONS] ON 

INSERT [dbo].[FINANCIAL_TRANSACTIONS] ([transaction_id], [club_id], [event_id], [category_id], [related_member_id], [transaction_type], [amount], [transaction_date], [description], [evidence_url], [transaction_status], [created_by], [approved_by], [created_at], [approved_at], [rejection_reason]) VALUES (1, 1, NULL, 1, NULL, N'INCOME', CAST(4500000.00 AS Decimal(15, 2)), CAST(N'2026-07-01' AS Date), N'Thu hội phí học kỳ I', N'/evidence/it/thu-hoi-phi-202607.pdf', N'POSTED', 4, NULL, CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[FINANCIAL_TRANSACTIONS] ([transaction_id], [club_id], [event_id], [category_id], [related_member_id], [transaction_type], [amount], [transaction_date], [description], [evidence_url], [transaction_status], [created_by], [approved_by], [created_at], [approved_at], [rejection_reason]) VALUES (2, 1, 3, 2, NULL, N'INCOME', CAST(8000000.00 AS Decimal(15, 2)), CAST(N'2026-08-18' AS Date), N'Tài trợ cho cuộc thi Lập trình mini 2026', N'/evidence/it/tai-tro-mini-contest.pdf', N'POSTED', 4, NULL, CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FINANCIAL_TRANSACTIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[MEMBER_STATUS_HISTORY] ON 

INSERT [dbo].[MEMBER_STATUS_HISTORY] ([history_id], [club_member_id], [old_status], [new_status], [reason], [changed_by], [changed_at]) VALUES (1, 8, N'ACTIVE', N'PAUSED', N'Tạm ngưng sinh hoạt trong học kỳ hè.', 3, CAST(N'2026-07-01T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[MEMBER_STATUS_HISTORY] ([history_id], [club_member_id], [old_status], [new_status], [reason], [changed_by], [changed_at]) VALUES (2, 9, N'ACTIVE', N'LEFT', N'Hoàn tất thủ tục rời câu lạc bộ.', 2, CAST(N'2026-07-31T16:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MEMBER_STATUS_HISTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([role_id], [role_code], [role_name]) VALUES (1, N'ADMIN', N'Quản trị viên hệ thống')
INSERT [dbo].[ROLES] ([role_id], [role_code], [role_name]) VALUES (2, N'LEADER', N'Chủ nhiệm / Phó chủ nhiệm')
INSERT [dbo].[ROLES] ([role_id], [role_code], [role_name]) VALUES (3, N'OFFICER', N'Cán bộ quản lý thành viên & sự kiện')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_ROLES] ON 

INSERT [dbo].[USER_ROLES] ([user_role_id], [user_id], [role_id], [club_id], [assigned_by], [assigned_at], [active_flag]) VALUES (1, 1, 1, NULL, 1, CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), 1)
INSERT [dbo].[USER_ROLES] ([user_role_id], [user_id], [role_id], [club_id], [assigned_by], [assigned_at], [active_flag]) VALUES (2, 2, 2, 1, 1, CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), 1)
INSERT [dbo].[USER_ROLES] ([user_role_id], [user_id], [role_id], [club_id], [assigned_by], [assigned_at], [active_flag]) VALUES (3, 3, 3, 1, 1, CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[USER_ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([user_id], [student_code], [username], [password_hash], [full_name], [email], [phone], [faculty], [class_name], [account_status], [created_at], [updated_at]) VALUES (1, NULL, N'admin_sys', N'$2y$10$TDhSwy4p2jyI8knGjS0v0OgZ6pYq1xKERzvacFrbYm5oKiqe3.zIi', N'Quản trị viên hệ thống', N'admin@svclub.local', N'0900000001', NULL, NULL, N'ACTIVE', CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
INSERT [dbo].[USERS] ([user_id], [student_code], [username], [password_hash], [full_name], [email], [phone], [faculty], [class_name], [account_status], [created_at], [updated_at]) VALUES (2, N'SV230001', N'leader_it', N'$2y$10$TDhSwy4p2jyI8knGjS0v0OgZ6pYq1xKERzvacFrbYm5oKiqe3.zIi', N'Nguyễn Minh Anh', N'minhanh@svclub.local', N'0900000002', N'Công nghệ thông tin', N'CNTT01', N'ACTIVE', CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
INSERT [dbo].[USERS] ([user_id], [student_code], [username], [password_hash], [full_name], [email], [phone], [faculty], [class_name], [account_status], [created_at], [updated_at]) VALUES (3, N'SV230002', N'officer_it', N'$2y$10$TDhSwy4p2jyI8knGjS0v0OgZ6pYq1xKERzvacFrbYm5oKiqe3.zIi', N'Trần Thu Hà', N'thuha@svclub.local', N'0900000003', N'Công nghệ thông tin', N'CNTT01', N'ACTIVE', CAST(N'2026-08-24T13:57:40.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
/****** Object:  Index [UQ_ATTENDANCE_event_member]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[ATTENDANCE] ADD  CONSTRAINT [UQ_ATTENDANCE_event_member] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[club_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ATT_event_status]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ATT_event_status] ON [dbo].[ATTENDANCE]
(
	[event_id] ASC,
	[attendance_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AL_entity]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_AL_entity] ON [dbo].[AUDIT_LOGS]
(
	[entity_name] ASC,
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CLUB_MEMBERS_club_member_code]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[CLUB_MEMBERS] ADD  CONSTRAINT [UQ_CLUB_MEMBERS_club_member_code] UNIQUE NONCLUSTERED 
(
	[club_id] ASC,
	[member_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CLUB_MEMBERS_club_user]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[CLUB_MEMBERS] ADD  CONSTRAINT [UQ_CLUB_MEMBERS_club_user] UNIQUE NONCLUSTERED 
(
	[club_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CM_club_status]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_CM_club_status] ON [dbo].[CLUB_MEMBERS]
(
	[club_id] ASC,
	[member_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CLUBS_club_code]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[CLUBS] ADD  CONSTRAINT [UQ_CLUBS_club_code] UNIQUE NONCLUSTERED 
(
	[club_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_EVENT_REGISTRATIONS_event_member]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[EVENT_REGISTRATIONS] ADD  CONSTRAINT [UQ_EVENT_REGISTRATIONS_event_member] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[club_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ER_event_status]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ER_event_status] ON [dbo].[EVENT_REGISTRATIONS]
(
	[event_id] ASC,
	[registration_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EVENTS_club_time]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_EVENTS_club_time] ON [dbo].[EVENTS]
(
	[club_id] ASC,
	[start_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_FINANCE_CATEGORIES]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[FINANCE_CATEGORIES] ADD  CONSTRAINT [UQ_FINANCE_CATEGORIES] UNIQUE NONCLUSTERED 
(
	[club_id] ASC,
	[category_type] ASC,
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FT_club_date]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_FT_club_date] ON [dbo].[FINANCIAL_TRANSACTIONS]
(
	[club_id] ASC,
	[transaction_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FT_status]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_FT_status] ON [dbo].[FINANCIAL_TRANSACTIONS]
(
	[transaction_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ROLES_role_code]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [UQ_ROLES_role_code] UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_USER_ROLES_scope]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[USER_ROLES] ADD  CONSTRAINT [UQ_USER_ROLES_scope] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC,
	[club_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ROLES_user_club_active]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_USER_ROLES_user_club_active] ON [dbo].[USER_ROLES]
(
	[user_id] ASC,
	[club_id] ASC,
	[active_flag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_USERS_username]    Script Date: 9/7/2026 11:22:05 AM ******/
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [UQ_USERS_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_USERS_email]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_USERS_email] ON [dbo].[USERS]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_USERS_student_code]    Script Date: 9/7/2026 11:22:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_USERS_student_code] ON [dbo].[USERS]
(
	[student_code] ASC
)
WHERE ([student_code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATTENDANCE] ADD  CONSTRAINT [DF_ATTENDANCE_recorded_at]  DEFAULT (sysdatetime()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[AUDIT_LOGS] ADD  CONSTRAINT [DF_AUDIT_LOGS_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[CLUB_MEMBERS] ADD  CONSTRAINT [DF_CLUB_MEMBERS_member_status]  DEFAULT ('ACTIVE') FOR [member_status]
GO
ALTER TABLE [dbo].[CLUB_MEMBERS] ADD  CONSTRAINT [DF_CLUB_MEMBERS_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[CLUBS] ADD  CONSTRAINT [DF_CLUBS_club_status]  DEFAULT ('ACTIVE') FOR [club_status]
GO
ALTER TABLE [dbo].[CLUBS] ADD  CONSTRAINT [DF_CLUBS_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS] ADD  CONSTRAINT [DF_EVENT_REGISTRATIONS_registered_at]  DEFAULT (sysdatetime()) FOR [registered_at]
GO
ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_approval_required]  DEFAULT ((0)) FOR [approval_required]
GO
ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_event_status]  DEFAULT ('DRAFT') FOR [event_status]
GO
ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_attendance_locked]  DEFAULT ((0)) FOR [attendance_locked]
GO
ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[FINANCE_CATEGORIES] ADD  CONSTRAINT [DF_FINANCE_CATEGORIES_active_flag]  DEFAULT ((1)) FOR [active_flag]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] ADD  CONSTRAINT [DF_FINANCIAL_TRANSACTIONS_status]  DEFAULT ('DRAFT') FOR [transaction_status]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] ADD  CONSTRAINT [DF_FINANCIAL_TRANSACTIONS_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY] ADD  CONSTRAINT [DF_MEMBER_STATUS_HISTORY_changed_at]  DEFAULT (sysdatetime()) FOR [changed_at]
GO
ALTER TABLE [dbo].[USER_ROLES] ADD  CONSTRAINT [DF_USER_ROLES_assigned_at]  DEFAULT (sysdatetime()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[USER_ROLES] ADD  CONSTRAINT [DF_USER_ROLES_active_flag]  DEFAULT ((1)) FOR [active_flag]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_account_status]  DEFAULT ('ACTIVE') FOR [account_status]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_EVENTS] FOREIGN KEY([event_id])
REFERENCES [dbo].[EVENTS] ([event_id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATTENDANCE_EVENTS]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_MEMBER] FOREIGN KEY([club_member_id])
REFERENCES [dbo].[CLUB_MEMBERS] ([club_member_id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATTENDANCE_MEMBER]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_RECORDED_BY] FOREIGN KEY([recorded_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATTENDANCE_RECORDED_BY]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_REGISTRATION] FOREIGN KEY([registration_id])
REFERENCES [dbo].[EVENT_REGISTRATIONS] ([registration_id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATTENDANCE_REGISTRATION]
GO
ALTER TABLE [dbo].[AUDIT_LOGS]  WITH CHECK ADD  CONSTRAINT [FK_AUDIT_LOGS_CLUBS] FOREIGN KEY([club_id])
REFERENCES [dbo].[CLUBS] ([club_id])
GO
ALTER TABLE [dbo].[AUDIT_LOGS] CHECK CONSTRAINT [FK_AUDIT_LOGS_CLUBS]
GO
ALTER TABLE [dbo].[AUDIT_LOGS]  WITH CHECK ADD  CONSTRAINT [FK_AUDIT_LOGS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[AUDIT_LOGS] CHECK CONSTRAINT [FK_AUDIT_LOGS_USERS]
GO
ALTER TABLE [dbo].[CLUB_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_CLUB_MEMBERS_CLUBS] FOREIGN KEY([club_id])
REFERENCES [dbo].[CLUBS] ([club_id])
GO
ALTER TABLE [dbo].[CLUB_MEMBERS] CHECK CONSTRAINT [FK_CLUB_MEMBERS_CLUBS]
GO
ALTER TABLE [dbo].[CLUB_MEMBERS]  WITH CHECK ADD  CONSTRAINT [FK_CLUB_MEMBERS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[CLUB_MEMBERS] CHECK CONSTRAINT [FK_CLUB_MEMBERS_USERS]
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_REGISTRATIONS_EVENTS] FOREIGN KEY([event_id])
REFERENCES [dbo].[EVENTS] ([event_id])
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS] CHECK CONSTRAINT [FK_EVENT_REGISTRATIONS_EVENTS]
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_REGISTRATIONS_MEMBER] FOREIGN KEY([club_member_id])
REFERENCES [dbo].[CLUB_MEMBERS] ([club_member_id])
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS] CHECK CONSTRAINT [FK_EVENT_REGISTRATIONS_MEMBER]
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_REGISTRATIONS_REVIEWED_BY] FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS] CHECK CONSTRAINT [FK_EVENT_REGISTRATIONS_REVIEWED_BY]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_CLUBS] FOREIGN KEY([club_id])
REFERENCES [dbo].[CLUBS] ([club_id])
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [FK_EVENTS_CLUBS]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_CREATED_BY] FOREIGN KEY([created_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [FK_EVENTS_CREATED_BY]
GO
ALTER TABLE [dbo].[FINANCE_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_FINANCE_CATEGORIES_CLUBS] FOREIGN KEY([club_id])
REFERENCES [dbo].[CLUBS] ([club_id])
GO
ALTER TABLE [dbo].[FINANCE_CATEGORIES] CHECK CONSTRAINT [FK_FINANCE_CATEGORIES_CLUBS]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_APPROVED_BY] FOREIGN KEY([approved_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_APPROVED_BY]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_CATEGORY] FOREIGN KEY([category_id])
REFERENCES [dbo].[FINANCE_CATEGORIES] ([category_id])
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_CATEGORY]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_CLUBS] FOREIGN KEY([club_id])
REFERENCES [dbo].[CLUBS] ([club_id])
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_CLUBS]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_CREATED_BY] FOREIGN KEY([created_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_CREATED_BY]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_EVENTS] FOREIGN KEY([event_id])
REFERENCES [dbo].[EVENTS] ([event_id])
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_EVENTS]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_MEMBER] FOREIGN KEY([related_member_id])
REFERENCES [dbo].[CLUB_MEMBERS] ([club_member_id])
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [FK_FINANCIAL_TRANSACTIONS_MEMBER]
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_STATUS_HISTORY_CHANGED_BY] FOREIGN KEY([changed_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY] CHECK CONSTRAINT [FK_MEMBER_STATUS_HISTORY_CHANGED_BY]
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_STATUS_HISTORY_MEMBER] FOREIGN KEY([club_member_id])
REFERENCES [dbo].[CLUB_MEMBERS] ([club_member_id])
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY] CHECK CONSTRAINT [FK_MEMBER_STATUS_HISTORY_MEMBER]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_ASSIGNED_BY] FOREIGN KEY([assigned_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_ASSIGNED_BY]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_CLUBS] FOREIGN KEY([club_id])
REFERENCES [dbo].[CLUBS] ([club_id])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_CLUBS]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_ROLES] FOREIGN KEY([role_id])
REFERENCES [dbo].[ROLES] ([role_id])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_ROLES]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_USERS]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [CK_ATTENDANCE_status] CHECK  (([attendance_status]='EXCUSED' OR [attendance_status]='LATE' OR [attendance_status]='ABSENT' OR [attendance_status]='PRESENT'))
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [CK_ATTENDANCE_status]
GO
ALTER TABLE [dbo].[AUDIT_LOGS]  WITH CHECK ADD  CONSTRAINT [CK_AUDIT_LOGS_new_value_json] CHECK  (([new_value] IS NULL OR isjson([new_value])=(1)))
GO
ALTER TABLE [dbo].[AUDIT_LOGS] CHECK CONSTRAINT [CK_AUDIT_LOGS_new_value_json]
GO
ALTER TABLE [dbo].[AUDIT_LOGS]  WITH CHECK ADD  CONSTRAINT [CK_AUDIT_LOGS_old_value_json] CHECK  (([old_value] IS NULL OR isjson([old_value])=(1)))
GO
ALTER TABLE [dbo].[AUDIT_LOGS] CHECK CONSTRAINT [CK_AUDIT_LOGS_old_value_json]
GO
ALTER TABLE [dbo].[CLUB_MEMBERS]  WITH CHECK ADD  CONSTRAINT [CK_CLUB_MEMBERS_leave_date] CHECK  (([leave_date] IS NULL OR [leave_date]>=[join_date]))
GO
ALTER TABLE [dbo].[CLUB_MEMBERS] CHECK CONSTRAINT [CK_CLUB_MEMBERS_leave_date]
GO
ALTER TABLE [dbo].[CLUB_MEMBERS]  WITH CHECK ADD  CONSTRAINT [CK_CLUB_MEMBERS_member_status] CHECK  (([member_status]='LEFT' OR [member_status]='PAUSED' OR [member_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[CLUB_MEMBERS] CHECK CONSTRAINT [CK_CLUB_MEMBERS_member_status]
GO
ALTER TABLE [dbo].[CLUBS]  WITH CHECK ADD  CONSTRAINT [CK_CLUBS_club_status] CHECK  (([club_status]='INACTIVE' OR [club_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[CLUBS] CHECK CONSTRAINT [CK_CLUBS_club_status]
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS]  WITH CHECK ADD  CONSTRAINT [CK_EVENT_REGISTRATIONS_status] CHECK  (([registration_status]='CANCELLED' OR [registration_status]='REJECTED' OR [registration_status]='CONFIRMED' OR [registration_status]='PENDING'))
GO
ALTER TABLE [dbo].[EVENT_REGISTRATIONS] CHECK CONSTRAINT [CK_EVENT_REGISTRATIONS_status]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [CK_EVENTS_capacity] CHECK  (([capacity] IS NULL OR [capacity]>(0)))
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [CK_EVENTS_capacity]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [CK_EVENTS_event_status] CHECK  (([event_status]='CANCELLED' OR [event_status]='COMPLETED' OR [event_status]='ONGOING' OR [event_status]='CLOSED' OR [event_status]='OPEN' OR [event_status]='DRAFT'))
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [CK_EVENTS_event_status]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [CK_EVENTS_registration_deadline] CHECK  (([registration_deadline]<=[start_at]))
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [CK_EVENTS_registration_deadline]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [CK_EVENTS_time] CHECK  (([end_at]>[start_at]))
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [CK_EVENTS_time]
GO
ALTER TABLE [dbo].[FINANCE_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [CK_FINANCE_CATEGORIES_type] CHECK  (([category_type]='EXPENSE' OR [category_type]='INCOME'))
GO
ALTER TABLE [dbo].[FINANCE_CATEGORIES] CHECK CONSTRAINT [CK_FINANCE_CATEGORIES_type]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [CK_FINANCIAL_TRANSACTIONS_amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [CK_FINANCIAL_TRANSACTIONS_amount]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [CK_FINANCIAL_TRANSACTIONS_rejection_reason] CHECK  (([transaction_status]<>'REJECTED' OR nullif(ltrim(rtrim([rejection_reason])),N'') IS NOT NULL))
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [CK_FINANCIAL_TRANSACTIONS_rejection_reason]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [CK_FINANCIAL_TRANSACTIONS_status] CHECK  (([transaction_status]='CANCELLED' OR [transaction_status]='POSTED' OR [transaction_status]='REJECTED' OR [transaction_status]='APPROVED' OR [transaction_status]='PENDING_APPROVAL' OR [transaction_status]='DRAFT'))
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [CK_FINANCIAL_TRANSACTIONS_status]
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [CK_FINANCIAL_TRANSACTIONS_type] CHECK  (([transaction_type]='EXPENSE' OR [transaction_type]='INCOME'))
GO
ALTER TABLE [dbo].[FINANCIAL_TRANSACTIONS] CHECK CONSTRAINT [CK_FINANCIAL_TRANSACTIONS_type]
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY]  WITH CHECK ADD  CONSTRAINT [CK_MEMBER_STATUS_HISTORY_new_status] CHECK  (([new_status]='LEFT' OR [new_status]='PAUSED' OR [new_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY] CHECK CONSTRAINT [CK_MEMBER_STATUS_HISTORY_new_status]
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY]  WITH CHECK ADD  CONSTRAINT [CK_MEMBER_STATUS_HISTORY_old_status] CHECK  (([old_status] IS NULL OR ([old_status]='LEFT' OR [old_status]='PAUSED' OR [old_status]='ACTIVE')))
GO
ALTER TABLE [dbo].[MEMBER_STATUS_HISTORY] CHECK CONSTRAINT [CK_MEMBER_STATUS_HISTORY_old_status]
GO
ALTER TABLE [dbo].[ROLES]  WITH CHECK ADD  CONSTRAINT [CK_ROLES_role_code] CHECK  (([role_code]='MEMBER' OR [role_code]='TREASURER' OR [role_code]='OFFICER' OR [role_code]='LEADER' OR [role_code]='ADMIN'))
GO
ALTER TABLE [dbo].[ROLES] CHECK CONSTRAINT [CK_ROLES_role_code]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_account_status] CHECK  (([account_status]='INACTIVE' OR [account_status]='LOCKED' OR [account_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_USERS_account_status]
GO
USE [master]
GO
