DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=StudentClubManagement
DB_USER=sa
DB_PASSWORD=123

DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

PORT=3001
HOST=127.0.0.1
APP_ORIGIN=http://localhost:3001

UPLOAD_DIR=private-uploads

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=123


